<html>
<head>
<title>My Angular App!</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="app.js"></script>
<style> .glyphicon-thumbs-up {cursor:pointer} </style>
</head>
<body ng-app="flapperNews" ng-controller="MainCtrl">
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <div class="page-header">
            <h1>Universities</h1>
        </div>

        <table class="table">
            <th>University</th>
            <th>Country</th>
            <th>Preference</th>
            <th>Term</th>
            <th>Rating</th>
            <tr ng-repeat="univ in univs | orderBy:'-preference'">
                <td style="margin-left:10px;">
                    <a ng-show="univ.link" href="{{univ.link}}">
                        {{univ.university}}
                    </a>
                    <span ng-hide="univ.link">
                        {{univ.university}}
                    </span>
                </td>
                <td>{{univ.country}}</td>
                <td>{{univ.preference}}</td>
                <td>{{univ.term}}</td>
                <td>{{univ.rating}}</td>
                <td ng-click="deleteUniv($index)">Delete<td>

                    </tr>
                </table>

                <form ng-submit="addUniv()" style="margin-top:30px;">
                    <h3>Add a new Univesity</h3>

                    <div class="form-group">
                        <input type="text"
                        class="form-control"
                        placeholder="University"
                        ng-model="university"></input>
                    </div>

                    <div class="form-group">
                        <input type="text"
                        class="form-control"
                        placeholder="Country"
                        ng-model="country"></input>
                    </div>

                    <div class="form-group">
                        <input type="text"
                        class="form-control"
                        placeholder="link"
                        ng-model="link"></input>
                    </div>

                    <div class="form-group">
                        Preference:
                        <input type="number"
                        name="Preference"
                        min="0"
                        max="10"
                        class="form-control"
                        ng-model="preference"></input>
                    </div>

                    <div class="form-group">
                        Rating:
                        <input type="number"
                        name="rating"
                        class="form-control"
                        ng-model="rating"></input>
                    </div>

                    <div class="form-group">
                        Term:
                        <input type="number"
                        name="term"
                        min="0"
                        max="1"
                        class="form-control"
                        ng-model="term"></input>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>

            </div>
        </div>
        </body>
        </html>
